@import "tailwindcss";

@plugin "@tailwindcss/typography";
@config "../../tailwind.config.mjs";

@layer base {
  :root {
    --foreground: 223 16% 9%;
    --background: 36 24% 96%;
    --muted-foreground: 45 2% 36%;

    --border: 0 0% 75%;
    --card: hsl 28 76% 95%;

    --scrollbar-thumb: 0 0% 37%;
    --scrollbar-thumb-hover: 0 0% 40%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  html {
    scroll-behavior: smooth;
    color: hsl(var(--foreground));
    background: hsl(var(--background));
    font-family: Manrope, system-ui, sans-serif;
  }

  body {
    min-height: 100vh;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
