---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import BaseHead from '@/components/BaseHead.astro';

const { title, description, image } = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class='relative'>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
